[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/possum/start/nerdtree"]
	path = .vim/pack/possum/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/possum/start/vim-commentary"]
	path = .vim/pack/possum/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/possum/start/vim-gitgutter"]
	path = .vim/pack/possum/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/possum/start/vim-polyglot"]
	path = .vim/pack/possum/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/possum/start/vim-repeat"]
	path = .vim/pack/possum/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/possum/start/vim-sensible"]
	path = .vim/pack/possum/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/possum/start/vim-surround"]
	path = .vim/pack/possum/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/possum/start/vim-obsession"]
	path = .vim/pack/possum/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".vim/pack/possum/start/fzf"]
	path = .vim/pack/possum/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/possum/start/vim-tmux-navigator"]
	path = .vim/pack/possum/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/possum/start/vim-unimpaired"]
	path = .vim/pack/possum/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/possum/start/ale"]
	path = .vim/pack/possum/start/ale
	url = https://github.com/w0rp/ale.git
